[submodule "vendor/kube-insight"]
	path = vendor/kube-insight
	url = ../kube-insight
	branch = main
[submodule "vendor/svc-lb-mux"]
	path = vendor/svc-lb-mux
	url = ../svc-lb-mux
	branch = main
[submodule "vendor/betternat"]
	path = vendor/betternat
	url = ../betternat
	branch = main
